<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <title>Photos</title>
</head>
{% stylesheets 'bundles/photos.css' filter='cssrewrite' %}

<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />

{% endstylesheets %}
<body>
<div class="w3-top">
    <div class="w3-bar" id="myNavbar">
        <a class="w3-bar-item w3-button w3-hover-black w3-hide-medium w3-hide-large w3-right" href="javascript:void(0);" onclick="toggleFunction()" title="Toggle Navigation Menu">
            <i class="fa fa-bars"></i>
        </a>
        <a href="{{ path('homepage') }}" class="w3-bar-item w3-button w3-left w3-text-bold">HOME</a>
        <a href="{{ path('photoGallery') }}" class="w3-bar-item w3-button w3-hide-small w3-left "><i class="fa fa-th"></i> PHOTOS</a>
        <a href="{{ path('forum') }}" class="w3-bar-item w3-button w3-hide-small w3-left "><i class="fa fa-envelope"></i> FORUM</a>
        <a href="{{ path('fos_user_security_logout') }}" class="w3-bar-item w3-button w3-right ">LOG OUT</a>
    </div>
</div>
    <!-- Header -->
    <header class="w3-display-container w3-content w3-center" style="max-width:1500px">
              {%  image '@AppBundle/public/images/jaa.jpg' %}<img class="w3-image" src="{{ asset_url }}" alt="Me" width="1500" height="600">{% endimage %}
        <div class="w3-display-middle w3-padding-large w3-border w3-wide w3-text-light-grey w3-center">
            <h1 class="w3-hide-medium w3-hide-small w3-xxxlarge">Malgorzata Bien</h1>
            <h5 class="w3-hide-large" style="white-space:nowrap">Malgorzata Bien</h5>
            <h3 class="w3-hide-medium w3-hide-small">My photo gallery</h3>

        </div>
        <!-- Navbar (placed at the bottom of the header image) -->
        <div class="w3-bar w3-light-grey w3-round w3-display-bottommiddle w3-hide-small" style="bottom:-16px">
            <a href="{{ path('slideshow') }}" class="w3-bar-item w3-button">Click to start slideshow</a>

        </div>
    </header>
    <!-- Navbar on small screens -->
    <div class="w3-center w3-light-grey w3-padding-16 w3-hide-large w3-hide-medium">
        <div class="w3-bar w3-light-grey">
            <a href="#" class="w3-bar-item w3-button">Home</a>
            <a href="#portfolio" class="w3-bar-item w3-button">Portfolio</a>
            <a href="#contact" class="w3-bar-item w3-button">Contact</a>
        </div>
    </div>


    <!-- Photo grid -->
<div class="w3-content w3-padding-large w3-margin-top">
    <div class="row">
        <div class="column">
            {%  image '@AppBundle/public/images/mount.jpg' %}<img src="{{ asset_url }}" style="width:100%" onclick="onClick(this)" alt="Mountain">{% endimage %}
            {%  image '@AppBundle/public/images/myFav.jpg' %} <img src="{{ asset_url }}" style="width:100%" onclick="onClick(this)" alt="Mountain">{% endimage %}
            {%  image '@AppBundle/public/images/rap.jpg' %}<img src="{{ asset_url }}" style="width:100%" onclick="onClick(this)" alt="Mountain">{% endimage %}
            {%  image '@AppBundle/public/images/stoly.jpg' %}<img src="{{ asset_url }}" style="width:100%" onclick="onClick(this)" alt="Mountain">{% endimage %}

        </div>

        <div class="column">
            {%  image '@AppBundle/public/images/czw1.jpg' %}<img src="{{ asset_url }}" style="width:100%" onclick="onClick(this)" alt="Mountain">{% endimage %}
            {%  image '@AppBundle/public/images/czw3.jpg' %} <img src="{{ asset_url }}" style="width:100%" onclick="onClick(this)" alt="Mountain">{% endimage %}
            {%  image '@AppBundle/public/images/czw4.jpg' %}<img src="{{ asset_url }}" style="width:100%" onclick="onClick(this)" alt="Mountain">{% endimage %}
            {%  image '@AppBundle/public/images/zielonepleso.jpg' %}<img src="{{ asset_url }}" style="width:100%" onclick="onClick(this)" alt="Mountain">{% endimage %}

        </div>

        <div class="column">
            {%  image '@AppBundle/public/images/climber.jpg' %}<img src="{{ asset_url }}" style="width:100%" onclick="onClick(this)" alt="Mountain">{% endimage %}
            {%  image '@AppBundle/public/images/skaly.jpg' %} <img src="{{ asset_url }}" style="width:100%" onclick="onClick(this)" alt="Mountain">{% endimage %}
            {%  image '@AppBundle/public/images/dance.jpg' %}<img src="{{ asset_url }}" style="width:100%" onclick="onClick(this)" alt="Mountain">{% endimage %}
            {%  image '@AppBundle/public/images/hala.jpg' %}<img src="{{ asset_url }}" style="width:100%" onclick="onClick(this)" alt="Mountain">{% endimage %}

        </div>

        <div class="column">
            {%  image '@AppBundle/public/images/snieg1.jpg' %}<img src="{{ asset_url }}" style="width:100%" onclick="onClick(this)" alt="Mountain">{% endimage %}
            {%  image '@AppBundle/public/images/ornak.jpg' %} <img src="{{ asset_url }}" style="width:100%" onclick="onClick(this)" alt="Mountain">{% endimage %}
            {%  image '@AppBundle/public/images/snieg2.jpg' %}<img src="{{ asset_url }}" style="width:100%" onclick="onClick(this)" alt="Mountain">{% endimage %}
       </div>
    </div>

    <!-- Pagination -->
    <div class="w3-center w3-padding-32">
        <div class="w3-bar">
            <a href="#" class="w3-bar-item w3-button w3-hover-black">«</a>
            <a href="#" class="w3-bar-item w3-black w3-button">1</a>
            <a href="#" class="w3-bar-item w3-button w3-hover-black">2</a>
            <a href="#" class="w3-bar-item w3-button w3-hover-black">3</a>
            <a href="#" class="w3-bar-item w3-button w3-hover-black">4</a>
            <a href="#" class="w3-bar-item w3-button w3-hover-black">»</a>
        </div>
    </div>

    <!-- Modal for full size images on click-->
    <div id="modal01" class="w3-modal w3-black" style="padding-top:0" onclick="this.style.display='none'">
        <span class="w3-button w3-black w3-xlarge w3-display-topright">×</span>
        <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
            <img id="img01" class="w3-image">
            <p id="caption"></p>
        </div>
    </div>
</div>

<footer>
    {% block footer %}
        <div class="w3-center">
            <p>&copy; Copyright 2018, Małgorzata Bień </p>
        </div>
    {% endblock %}
</footer>
</body>
{% block javascripts %}
<script>

    // Modal Image Gallery
    function onClick(element) {
        document.getElementById("img01").src = element.src;
        document.getElementById("modal01").style.display = "block";
        var captionText = document.getElementById("caption");
        captionText.innerHTML = element.alt;
    }

    // Change style of navbar on scroll
    window.onscroll = function() {myFunction()};
    function myFunction() {
        var navbar = document.getElementById("myNavbar");
        if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
            navbar.className = "w3-bar" + " w3-card-2" + " w3-animate-top" + " w3-white";
        } else {
            navbar.className = navbar.className.replace(" w3-card-2 w3-animate-top w3-white", "");
        }
    }

    // Used to toggle the menu on small screens when clicking on the menu button
    function toggleFunction() {
        var x = document.getElementById("navDemo");
        if (x.className.indexOf("w3-show") === -1) {
            x.className += " w3-show";
        } else {
            x.className = x.className.replace(" w3-show", "");
        }
    }
</script>
{% endblock %}
</body>
</html>