<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
{% block body %}

{{ form_start(form) }}
{{ form_row(form.username) }}
{{ form_row(form.password.first) }}
{{ form_row(form.password.second) }}

<button type="submit">Register!</button>
{{ form_end(form) }}

{% endblock %}
</html>