{% extends '::base.html.twig' %}

{% block body %}
    <body class="w3-light-grey">

    <body>
    <!-- Navbar (sit on top) -->
    <div class="w3-top">
        <div class="w3-bar" id="myNavbar">
            <a class="w3-bar-item w3-button w3-hover-black w3-hide-medium w3-hide-large w3-right" href="javascript:void(0);" onclick="toggleFunction()" title="Toggle Navigation Menu">
                <i class="fa fa-bars"></i>
            </a>
            <a href="/app/Resources/views/default/index.html.twig" class="w3-bar-item w3-button">HOME</a>
            <a href="{{ path('photoGallery') }}" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-th"></i> PHOTOS</a>
            <a href="/app/Resources/views/forum.html.twig" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-envelope"></i> FORUM</a>
            <a href="/app/Resources/views/default/index.html.twig" class="w3-bar-item w3-button w3-right ">LOG OUT</a>
            <a href="#" class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-red">
                <i class="fa fa-search"></i>
            </a>

        </div>

        <!-- Navbar on small screens -->
        <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium">
            <a href="/app/Resources/views/default/index.html.twig" class="w3-bar-item w3-button" onclick="toggleFunction()">HOME</a>
            <a href="{{ path('photoGallery') }}" class="w3-bar-item w3-button" onclick="toggleFunction()">PHOTOS</a>
            <a href="/app/Resources/views/forum.html.twig" class="w3-bar-item w3-button" onclick="toggleFunction()">FORUM</a>
            <a href="#" class="w3-bar-item w3-button">SEARCH</a>
        </div>
    </div>
    <!-- w3-content defines a container for fixed size centered content,
    and is wrapped around the whole page content, except for the footer in this  -->
    <div class="w3-content" style="max-width:1600px">

        <!-- Header -->
        <header class="w3-container w3-center w3-padding-32">
            <h1><b>INTO THE WILD</b></h1>
            <p>Welcome in my world <span class="w3-tag"></span></p>
        </header>

        <!-- Grid -->
        <div class="w3-row">
            <!-- Introduction menu -->
            <div class="w3-col l4 w3-right">
                <!-- About Card -->
                <div class="w3-card-2 w3-margin w3-margin-top">
                    {%  image '@AppBundle/public/images/profile.jpg' %}
                    <img  src="{{ asset_url }}" alt="Me" style="width:100%">
                    {% endimage %}
                    <div class="w3-container w3-white">
                        <a href="{{ path('aboutMe') }}"><h4><b>Małgorzata</b></h4></a>
                        <p>Just me, exploring the universe of uknownment. I have a heart of love and a interest of mountains and dance. I want to share my world with you.</p>
                    </div>
                </div><hr>

                <!-- Posts -->
                <div class="w3-card-2 w3-margin">
                    <div class="w3-container w3-padding">
                        <h4>Popular Posts</h4>
                    </div>
                    <ul class="w3-ul w3-hoverable w3-white">
                        <li class="w3-padding-16">
                            <img src="/w3images/workshop.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
                            <span class="w3-large">Lorem</span><br>
                            <span>Sed mattis nunc</span>
                        </li>
                        <li class="w3-padding-16">
                            <img src="/w3images/gondol.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
                            <span class="w3-large">Ipsum</span><br>
                            <span>Praes tinci sed</span>
                        </li>
                        <li class="w3-padding-16">
                            <img src="/w3images/skies.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
                            <span class="w3-large">Dorum</span><br>
                            <span>Ultricies congue</span>
                        </li>
                        <li class="w3-padding-16 w3-hide-medium w3-hide-small">
                            <img src="/w3images/rock.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
                            <span class="w3-large">Mingsum</span><br>
                            <span>Lorem ipsum dipsum</span>
                        </li>
                    </ul>
                </div>
                <hr>

                <!-- Labels / tags -->
                <div class="w3-card-2 w3-margin">
                    <div class="w3-container w3-padding">
                        <h4>Tags</h4>
                    </div>
                    <div class="w3-container w3-white">
                        <p><span class="w3-tag w3-black w3-margin-bottom">Travel</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Tatras</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Poland</span>
                            <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Zakopane</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Mountains</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">DIY</span>
                            <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Dance</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Animals</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Family</span>
                            <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">News</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Clothing</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Shopping</span>
                            <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Sports</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Games</span>
                        </p>
                    </div>
                </div>

                <!-- END Introduction Menu -->
            </div>
            {% if posts %}
             {% for post in posts %}
            <!-- Blog entries -->
            <div class="w3-col l8 s12 w3-left">
                <!-- Blog entry -->
                <div class="w3-card-4 w3-margin w3-white">
                    {% image '@AppBundle/public/images/mgla.jpg' %}
                    <img src="{{ asset_url }}" alt="Mountain" style="width:100%" />
                    {% endimage %}
                    <div class="w3-container">
                        <h3><b>{{ post.title }}</b></h3>
                        <h5> <span class="w3-opacity">{{ post.dataPosted |date(" m/d/Y")}}</span></h5>
                    </div>

                    <div class="w3-container">
                         <div class="w3-row">
                            <div class="w3-col m8 s12">
                                <p><button class="w3-button w3-padding-large w3-white w3-border"><a href="{{ path('post_show', { 'id': post.getId() }) }}"> <b>READ MORE »</b></a></button></p>
                            </div>
                            <div class="w3-col m4 w3-hide-small">
                                <p><span class="w3-padding-large w3-right"><b>{{ post.tags }}  </b></span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <br>

                <!-- END BLOG ENTRIES -->
            </div>
                {% endfor %}
                {% endif %}
           <!-- </form>-->



            <!-- END GRID -->
        </div><br>

        <!-- END w3-content -->
    </div>

    <!-- Footer -->
    <footer class="w3-container w3-dark-grey w3-padding-32 w3-margin-top">
        <button class="w3-button w3-black w3-disabled w3-padding-large w3-margin-bottom">Previous</button>
        <button class="w3-button w3-black w3-padding-large w3-margin-bottom">Next »</button>
    </footer>


    <!-- JavaScript functions -->
    {% block javascripts %}
        <script>

            // Change style of navbar on scroll
            window.onscroll = function() {myFunction()};
            function myFunction() {
                var navbar = document.getElementById("myNavbar");
                if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
                    navbar.className = "w3-bar" + " w3-card-2" + " w3-animate-top" + " w3-white";
                } else {
                    navbar.className = navbar.className.replace(" w3-card-2 w3-animate-top w3-white", "");
                }
            }

            // Used to toggle the menu on small screens when clicking on the menu button
            function toggleFunction() {
                var x = document.getElementById("navDemo");
                if (x.className.indexOf("w3-show") === -1) {
                    x.className += " w3-show";
                } else {
                    x.className = x.className.replace(" w3-show", "");
                }
            }
        </script>
    {% endblock %}

    </body>
{% endblock %}

{% block stylesheets %}
<style>
    body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
{% endblock %}


